 header{
    background:url('../img/portada.jpg');
    height:100vh; 
    background-size: cover;
   }

   header h1{
    font-family: 'Delius Unicase', cursive;
   color:#FFA857;
   }
/*con esta propiedad de abajo podremos poner 
un texto o fondo transparente*/
header .fondo-blanco{
  background:rgba(255, 255, 255,.7); 
}


h2{
   font-family: 'Delius Unicase', cursive;
   background: #FFA857;
   color:#fff;
}

h1 .logo {
  font-family: 'Delius Unicase', cursive;
  background: #FFA857;
  color:#fff;
}

.precio{
  color:#FFA857;
}

.btnRosa{
  color:#fff;
  background: #e4ab9a;
  border: 1px solid #e4ab9a;
}

.btn-button{

bottom: 20px;
width: 70px;
height: 70px;
}

.btn-button img{
  float:right;
bottom: 20px;
width: 70px;
height: 70px;
}